@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #0f172a, #1e293b, #334155);
  min-height: 100vh;
  max-width: 750px;
  margin: auto;
  padding: 50px 20px;
  color: white;
}

h2 {
  color: white;
  font-size: 36px;
  margin-bottom: 25px;
  text-align: center;
}

input {
  width: 73%;
  padding: 14px 18px;
  font-size: 16px;
  border: none;
  outline: none;
  border-radius: 14px;
  background: rgba(255, 255, 255, 0.08);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.15);
  transition: 0.3s;
}
.input-group {
  display: flex;
  gap: 12px;
  margin-bottom: 25px;
}

.input-group input {
  flex: 1;
}
input::placeholder {
  color: #cbd5e1;
}

input:focus {
  border-color: #38bdf8;
  box-shadow: 0 0 15px rgba(56, 189, 248, 0.35);
}

button {
  padding: 14px 20px;
  border: none;
  border-radius: 14px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 600;
}

.addBtn {
  background: linear-gradient(135deg, #3b82f6, #06b6d4);
  color: white;
}

.addBtn:hover {
  transform: translateY(-3px);
  box-shadow: 0 12px 25px rgba(59, 130, 246, 0.4);
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 18px 22px;
  margin-top: 18px;

  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(12px);

  border: 1px solid rgba(255, 255, 255, 0.1);

  border-radius: 18px;

  transition: 0.3s;

  animation: show 0.35s ease;
}

.item:hover {
  transform: translateY(-6px);
  box-shadow: 0 18px 30px rgba(0, 0, 0, 0.3);
}

.item.done {
  opacity: 0.55;
  background: #1e293b;
  color: #94a3b8;
  text-decoration: line-through;
}

.actions {
  display: flex;
  gap: 10px;
}

.actions button {
  width: 44px;
  height: 44px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.08);
  color: white;
  transition: 0.25s;
}

.actions button:first-child:hover {
  background: #facc15;
  color: black;
}

.actions button:last-child:hover {
  background: #ef4444;
  color: white;
}

button:active {
  transform: scale(0.95);
}

@keyframes show {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #3b82f6;
  border-radius: 20px;
}
